<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
</head>
<body>

    <div class="container">

        <button class="btn my-4" type="button">
            <i class="fa fa-step-backward" aria-hidden="true"></i>
            <a href="javascript:history.back()">
                Back
            </a>
        </button>

        <form action="/create_post/post" method="POST">
            
                
            
            <h1>Title</h1>
            <input
                
                type="text" 
                name="title" 
                id="title"
                class="form-control"
                required
            >
            <br>
            <h1>Description</h1>
            <br>
            <textarea 
                name="body" 
                id="body" 
                cols="30" 
                rows="10"
                class="form-control"
                
                >
            </textarea>

            <button
                type="submit"
                class="btn btn-lg btn-dark my-4"
            >
                Post
            </button>

        </form>

    </div>

    
</body>
</html>