<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome <%= username %> </h1>
    <button><a href="/wall">Wall</a></button>
    <button><a href="/logout">Logout</a></button>
    <button><a href="/create_post">Create new post</a></button>
</body>
</html>