<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="custom.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S Social</title>
</head>
<body>
    

    <div class="jumbotron">
        <h1 class="display-4">Welcome to SS Social</h1>
        
    </div>

    <div class="container text-center max-auto">

        <div 
            class="card border-primary mb-3 hover-2x" 
            style="max-width: 20rem;">

            <div class="card-header">New here?</div>
            <div class="card-body">
                <h3><a href="/register">Sign Up</a></h3>
            </div>


        </div>


          <div 
            class="card border-primary mb-3 hover-2x" 
            style="max-width: 20rem;">

            <div class="card-header">Already a member?</div>
            <div class="card-body">
                <h3><a href="/login">Sign In</a></h3>
            </div>
          </div>
    </div>


</body>
</html>