<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S Social</title>
</head>
<body>
    

    <h1>Welcome to S Social</h1>

    <h3><a href="/register">Click here to register</a></h3>
    <h3><a href="/login">Click here to sign in</a></h3>


</body>
</html>