<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
</head>
<body>

    <% for( let i = 0; i < results.length; i++ ) { %>
    

        <h1><%= results[i].title %> </h1>
        <p><%= results[i].body %> </p>


    <% } %>
        
    
    
    
</body>
</html>