<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registeration</title>
</head>

<body>
    <h1>Registeration</h1>

    <form action="/register/post" method="post">
        <label for="first_name">First Name</label>
        <input type="text" id="first_name" name="first_name" />
        <br />

        <label for="last_name">Last Name</label>
        <input type="text" id="last_name" name="last_name" />
        <br />

        <label for="first_name">Email</label>
        <input type="email" id="email" name="email" />
        <br />

        <label for="dob">Date of birth</label>
        <input type="date" id="dob" name="dob" min="2000-01-01" max="2099-12-31" />
        <br />

        <label for="genders">Gender</label><br />

        <input required type="radio" id="male" name="gender" value="male" />
        <label for="male">Male</label><br />
        <input type="radio" id="female" name="gender" value="female" />
        <label for="female">Female</label><br />
        <input type="radio" id="other" name="gender" value="other" />
        <label for="other">Other</label>
        <br />

        <button type="submit">Submit</button>
    </form>
</body>

</html>