<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="/bootstrap.min.css">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Registration</title>
    </head>

    <body>

        

        <div class="jumbotron">

            <button class="btn btn-light">
                <a href="/">
                    Back
                </a>
            </button>

            <h1 class="display-3">Registration</h1>
            <hr class="my-2">
        </div>

        <div class="container">

            <form action="/register/post" method="post" class="form-group">
                <!-- User Name -->
                <label for="user_name">User Name</label>
                <input
                    class="form-control"
                    type="text"
                    id="user_name"
                    name="user_name"
                    required
                    max="10"
                />
                <br />

                <!-- Email -->

                <label for="first_name">Email</label>
                <input
                    class="form-control"
                    type="email" 
                    id="email" 
                    name="email"
                    required 
                    max="50"//>
                <br />

                <!-- Password -->

                <label for="password">Password</label>
                <input
                    class="form-control"
                    type="password"
                    id="password"
                    name="password"
                    required
                    max="20"
                />
                <br />

                <!-- Date of birth -->

                <label for="dob">Date of birth</label>
                <input
                    class="form-control"
                    type="date"
                    id="dob"
                    name="dob"
                    value="2000-01-01"
                    min="1920-01-01"
                    max="2002-01-01"
                    required
                />
                <br />

                <!-- Gender -->

                <label for="gender">Gender</label>
                <select id="gender" name="gender" required class="form-control">
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                    <option value="other">Other</option>
                </select>

                <button 
                    type="submit" 
                    class="btn btn-primary btn-lg border my-2">
                    Submit
                </button>
            </form>
        </div>
    </body>
</html>
