<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <% if (results.length == 0) { %>
     <h1>No user users found with this name</h1>
    

    <% } else { %>
        <h1>Search Results</h1>
        <% results.forEach(user => { %>

            <h2><%= user.user_name %> </h2>
            <small>
                <a href="/profile/<%= user.user_name %> ">
                Go to profile
                </a>
            </small>

        <% }) %>

    <% } %>
     


</body>
</html>